.a{
width: 500px;
height: 400px;
background: red;
margin: 5% auto;
position: relative;
cursor: pointer;
overflow: hidden;
}
.a>img{
    width: 500px;
    height: 400px;
}
.a::before{
    content: '';
    width: 50%;
    height: 100%;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    transition:all 2s ease;
    opacity: 0.7;
}
.a::after{
    content: '';
    width: 50%;
    height: 100%;
    background: #2bff00;
    position: absolute;
    top: 0;
    right: 0;
    transition:all 2s ease;
    opacity: 0.7;
}
.a::after{
content: '';
}

.a:hover.a::before{
    left: -50%;
}
.a:hover.a::after{
    right: -50%;
}